[build-system]
requires = [
    "setuptools",
    "setuptools-scm",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "aioartifactory"
authors = [
    {name = "Yan Kuang"},
]
description = "Asynchronous Input Output (AIO) Artifactory"
requires-python = ">=3.9"
keywords = [ "aioartifactory" ]
dependencies = [
    "aiofiles",
    "aiohttp[speedups]",
    "tealogger==0.8.3",
    "rich",
]
dynamic = [
    "version",
    "readme"
]

[project.optional-dependencies]
develop = [
    "build",
    "coverage",
    "pylint",
    "pytest",
    "pytest-asyncio",
    "twine",
]
test = [
    "coverage",
    "pylint",
    "pytest",
    "pytest-asyncio",
]

[project.urls]
"Homepage" = "https://github.com/YTKme/Python-AIOArtifactory"
"Bug Tracker" = "https://github.com/YTKme/Python-AIOArtifactory/issues"

[tool.autopep8]

[tool.distutils.bdist_wheel]
universal = true

[tool.setuptools]
packages = [
    "aioartifactory"
]

[tool.setuptools.dynamic]
version = {file = "VERSION"}
readme = {file = ["README.md"]}
